body {
  background: #1F1F1F;
  color: #CFCFCF;
  font-family: 'Abel', sans-serif;
  line-height: 1em;
}

h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
}

h1 {
  line-height: 1em;
}

.menu-bar {
  padding: 0 0 1.5rem 0;
}

li span {
  color: #797979;
}

a:hover {
  color: #CFCFCF;
}

.troggle {
  display: inherit !important;
}

.toggle {
  display: none;
}

.expanded {
  display: inherit !important;
}

.work-panel {
  background-color: #CFCFCF;
  color: #1F1F1F;
  h1, h2, h3, h4, h5, h6, p {
    color: #1F1F1F;
  }
}

.neutral-card {
  @include card-container($background: #FFF, $color: #1F1F1F);
}

.neutral-card-divider {
  @include card-divider($background: #CFCFCF);
}

.neutral-card-section{
  @include card-section();
  small {
    color: #1F1F1F;
  }
}

.prod-image {
  position: relative;
  width: 100%;
  h1 {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    span {
      color: white;
      background: rgba(0,0,0,0.6);
      padding: 10px 100px;
    }
  }
}

// videogular

.videogular-container {
  width: 100%;
  height: 320px;
  margin: auto;
  overflow: hidden;
}

.videogular-container.audio {
  height: 50px;
}

@media (min-width: 1200px) {
  .videogular-container {
    width: 1170px;
    height: 658.125px;
  }

  .videogular-container.audio {
    width: 1170px;
    height: 50px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .videogular-container {
        width: 940px;
        height: 528.75px;
    }

    .videogular-container.audio {
        width: 940px;
        height: 50px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .videogular-container {
        width: 728px;
        height: 409.5px;
    }

    .videogular-container.audio {
        width: 728px;
        height: 50px;
    }
}

// table 

table {
  background: whitesmoke;
  margin-bottom: 1.25rem;
  border: solid 1px #dddddd;
  }
  table thead,
  table tfoot {
    background: #78797A !important; }
    table thead tr th,
    table thead tr td,
    table tfoot tr th,
    table tfoot tr td {
      padding: 0.5rem 0.625rem 0.625rem;
      font-size: 0.875rem;
      font-weight: bold;
      color: #222222;
      text-align: left; }
  table tr th,
  table tr td {
    padding: 0.5625rem 0.625rem;
    font-size: 0.875rem;
    color: #222222; }
  table tr.even, table tr.alt, table tr:nth-of-type(even) {
    background: #6F727A; 
  }
  table tr:nth-of-type(even) td {
    color: #C3C3C7;
    }
  table tr:nth-of-type(even) a:hover {
    color: #CFCFCF;
  }
  table thead tr th,
  table tfoot tr th,
  table tbody tr td,
  table tr td,
  table tfoot tr td {
    display: table-cell;
    line-height: 1.125rem; }
  table a:hover {
    color: #222222;
  }
  /* table tbody tr:hover {
    background-color: #2D2D2E;
   }
   table tbody tr:hover td {
    color: white;
   }*/

table.scroll {
  display: table;
}