<h3>images <small>(hint: click the images to enlarge!)</small></h3>
    <div class="grid-block small-up-1 medium-up-3">
    	<div class="grid-content">
    		<div class="card">
    			<a zf-open="imgModal1"><img src="http://adamsalberg.com/photo/cute/img/img31.jpg"></a>
    			<div zf-modal="" id="imgModal1" class="dialog">
    				<img src="http://adamsalberg.com/photo/cute/img/img31.jpg">
    			</div>
    			<div class="card-divider">
    				image descriptions can be <a href="#">links!</a>
    			</div>
    		</div>
    	</div>
    	<div class="grid-content">
    		<div class="card">
    			<a zf-open="imgModal2"><img src="http://adamsalberg.com/photo/cute/img/img34.jpg"></a>
    			<div zf-modal="" id="imgModal2" class="dialog">
    				<img src="http://adamsalberg.com/photo/cute/img/img35.jpg">
    			</div>
    			<div class="card-divider">
    				image description
    			</div>
    		</div>
    	</div>
    	<div class="grid-content">
    		<div class="card">
    			<a zf-open="imgModal3"><img src="http://adamsalberg.com/photo/cute/img/img30.jpg"></a>
    			<div zf-modal="" id="imgModal3" class="dialog">
    				<img src="http://adamsalberg.com/photo/cute/img/img30.jpg">
    			</div>
    			<div class="card-divider">
    				image description
    			</div>
    		</div>
    	</div>
    </div>