<h3>audio files</h3>
    <div class="grid-block small-up-1 medium-up-3">
    	<div class="grid-content">
    		<div class="card">
    			<audio controls preload="none">
    				<source src="" type="audio/mpeg">
    				<embed height="50" width="100" src="">
    			</audio>
	    		<div class="card-divider">
	    			that song i wrote
	    		</div>
    		</div>
    	</div>
    	<div class="grid-content">
    		<div class="card">
    			<audio controls preload="none">
    				<source src="" type="audio/mpeg">
    				<embed height="50" width="100" src="">
    			</audio>
	    		<div class="card-divider">
	    			that guitar riff i riffed
	    		</div>
    		</div>
    	</div>
    	<div class="grid-content">
    		<div class="card">
    			<audio controls preload="none">
    				<source src="" type="audio/mpeg">
    				<embed height="50" width="100" src="">
    			</audio>
	    		<div class="card-divider">
	    			that cue from that thing
	    		</div>
    		</div>
    	</div>
    </div>