<h2>Table</h2>
<p>[use tables to give an overview of work you've produced - or i guess really anything that can be represented tabularly? go wild! individual rows can link to other pages.]</p>
<div class="grid-block shrink">
  <div class="grid-container align-center">
    <table class="scroll">
      <thead>
        <tr>
          <th width="200">Production</th>
          <th width="150">Director</th>
          <th width="150">Company</th>
          <th width="150">Venue</th>
          <th width="150">Role</th>
          <th width="100">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><em><a ui-sref="production detail">Title</a></em></td>
          <td>Name</td>
          <td>Company</td>
          <td>Venue</td>
          <td>Role</td>
          <td>Date</td>
        </tr>
        <tr>
          <td><em><a ui-sref="production detail">Title</a></em></td>
          <td>Name</td>
          <td>Company</td>
          <td>Venue</td>
          <td>Role</td>
          <td>Date</td>
        </tr>
        <tr>
          <td><em><a ui-sref="production detail">Title</a></em></td>
          <td>Name</td>
          <td>Company</td>
          <td>Venue</td>
          <td>Role</td>
          <td>Date</td>
        </tr>
        <tr>
          <td><em><a ui-sref="production detail">Title</a></em></td>
          <td>Name</td>
          <td>Company</td>
          <td>Venue</td>
          <td>Role</td>
          <td>Date</td>
        </tr>
        <tr>
          <td><em><a ui-sref="production detail">Title</a></em></td>
          <td>Name</td>
          <td>Company</td>
          <td>Venue</td>
          <td>Role</td>
          <td>Date</td>
        </tr>
        <tr>
          <td><em><a ui-sref="production detail">Title</a></em></td>
          <td>Name</td>
          <td>Company</td>
          <td>Venue</td>
          <td>Role</td>
          <td>Date</td>
        </tr>
        <tr>
          <td><em><a ui-sref="production detail">Title</a></em></td>
          <td>Name</td>
          <td>Company</td>
          <td>Venue</td>
          <td>Role</td>
          <td>Date</td>
        </tr>
        <tr>
          <td><em><a ui-sref="production detail">Title</a></em></td>
          <td>Name</td>
          <td>Company</td>
          <td>Venue</td>
          <td>Role</td>
          <td>Date</td>
        </tr>
        <tr>
          <td><em><a ui-sref="production detail">Title</a></em></td>
          <td>Name</td>
          <td>Company</td>
          <td>Venue</td>
          <td>Role</td>
          <td>Date</td>
        </tr>
        <tr>
          <td><em><a ui-sref="production detail">Title</a></em></td>
          <td>Name</td>
          <td>Company</td>
          <td>Venue</td>
          <td>Role</td>
          <td>Date</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<hr>