<h2>Selected Production History</h2>
<p>[use this table to give an overview of work you've produced. individual rows can link to pages with detailed views.]</p>
<table class="scroll">
    <thead>
      <tr>
        <th>Production</th>
        <th>Director</th>
        <th>Company</th>
        <th>Venue</th>
        <th>Role</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><em><a ui-sref="production detail">Title</a></em></td>
        <td>Name</td>
        <td>Company</td>
        <td>Venue</td>
        <td>Role</td>
        <td>Date</td>
      </tr>
      <tr>
        <td><em><a ui-sref="production detail">Title</a></em></td>
        <td>Name</td>
        <td>Company</td>
        <td>Venue</td>
        <td>Role</td>
        <td>Date</td>
      </tr>
      <tr>
        <td><em><a ui-sref="production detail">Title</a></em></td>
        <td>Name</td>
        <td>Company</td>
        <td>Venue</td>
        <td>Role</td>
        <td>Date</td>
      </tr>
      <tr>
        <td><em><a ui-sref="production detail">Title</a></em></td>
        <td>Name</td>
        <td>Company</td>
        <td>Venue</td>
        <td>Role</td>
        <td>Date</td>
      </tr>
      <tr>
        <td><em><a ui-sref="production detail">Title</a></em></td>
        <td>Name</td>
        <td>Company</td>
        <td>Venue</td>
        <td>Role</td>
        <td>Date</td>
      </tr>
      <tr>
        <td><em><a ui-sref="production detail">Title</a></em></td>
        <td>Name</td>
        <td>Company</td>
        <td>Venue</td>
        <td>Role</td>
        <td>Date</td>
      </tr>
      <tr>
        <td><em><a ui-sref="production detail">Title</a></em></td>
        <td>Name</td>
        <td>Company</td>
        <td>Venue</td>
        <td>Role</td>
        <td>Date</td>
      </tr>
      <tr>
        <td><em><a ui-sref="production detail">Title</a></em></td>
        <td>Name</td>
        <td>Company</td>
        <td>Venue</td>
        <td>Role</td>
        <td>Date</td>
      </tr>
      <tr>
        <td><em><a ui-sref="production detail">Title</a></em></td>
        <td>Name</td>
        <td>Company</td>
        <td>Venue</td>
        <td>Role</td>
        <td>Date</td>
      </tr>
      <tr>
        <td><em><a ui-sref="production detail">Title</a></em></td>
        <td>Name</td>
        <td>Company</td>
        <td>Venue</td>
        <td>Role</td>
        <td>Date</td>
      </tr>
    </tbody>
  </table>
  <hr>