body {
	background-color: black;
	color: #CACACA;
	font-family: 'Ubuntu', sans-serif;
}

.row {
	background-color: black;
}

.panel {
	background-color: #202020;
	border-width: 0px;
}

.panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6, .panel p, .panel li {
	color: #CACACA;
}

h1, h2, h3, h4, h5, h6, h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6 {
	/*color: #6A0107;*/
	color: #ED01A6;
	font-family: 'Cinzel Decorative', sans-serif;
}

h1 em {
	font-size: 3.5rem;
	font-family: 'Jolly Lodger', cursive;
	color: #6A0107;
	-webkit-text-stroke: 1px #ED01A6;
	text-shadow:
	-1px -1px 0 #ED01A6,
	1px -1px 0 #ED01A6,
	-1px 1px 0 #ED01A6,
	1px 1px 0 #ED01A6;
}

.add-border {
	border: 2px solid #122322;
}

a {
	color: #8FA21F;
}

a:hover {
	color: #A2791F;
}

a.th {
/*	border: none;
	box-shadow: none;*/
}

a.th img {
	/*padding: 20px 0px;*/
	/*transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);*/
}

[data-magellan-expedition] {
	left: 0;
	background: #202020;
}

.sub-nav {
	margin-left: auto !important;
	margin-right: auto !important;
	/*width: 90%;*/
}

.sub-nav dt a, .sub-nav dd a, .sub-nav li a {
	padding: 0.1875rem .5rem;
}

.sub-nav dd.active a {
	background: #ED01A6;
}

.slick-slideshow {
	border: 2px solid #122322;
}

.slick-dots li button:before {
	color: #6A0107 !important;
}

.slick-dots li.slick-active button:before {
	color: #ED01A6 !important;
}

.fb_iframe_widget {
	margin-top: 10px;
}

.compact{
	width: 600px;
}

.alert-box.info {
	font-size: 1rem;
	padding: 0.5rem 1.5rem 0.5rem 0.875rem;
	text-align: center;
}

.sbd.alert-box {
	background-color: #ED01A6;
	border-color: #CF2A0E;
	padding: 0.5rem 0.5rem 0rem 0.5rem;
}

.sbd.alert-box a {
	color: #264285;
}

.sbd.alert-box a:hover {
	color: #A2791F;
}

.inactive {
	color: gray !important;
}
