---
name: form1
url: /form1
title: form 1 • your name
animationIn: fadeIn
animationOut: fadeOut
---

<div class="grid-block vertical align-center">
	<div class="grid-content">

		<div class="small-10 grid-container">
			<form>
				<label>Tell us about yourself!</label>
				<input type="text" placeholder="name">
				<input type="text" placeholder="email">
				<input type="text" placeholder="phone">
				<textarea rows="4" cols="100">say a few words about your career...</textarea>
			</form>
		</div>
		<div class="small-10 medium-6 grid-container">
			<form>
				<span class="inline-label">
					<span class="form-label">facebook url</span>
					<input type="text">
				</span>
				<span class="inline-label">
					<span class="form-label">twitter url</span>
					<input type="text">
				</span>
				<span class="inline-label">
					<span class="form-label">instagram url</span>
					<input type="text">
				</span>
				<a class="button" ui-sref="form2">next</a>
			</form>
		</div>

	</div>
</div>