---
name: home
url: /
title: your name
animationIn: fadeIn
animationOut: fadeOut
---

<div class="grid-block vertical align-center">
	<div class="grid-content">

    <div class="card success">
      <div class="card-section">
        this is your homepage. it includes a brief bio where you can explain yourself [or leave blank!], a section for you to showcase your best or most recent work, and options for additional sections using tables, lists, block text, or html.
      </div>
    </div>

    <div ng-include="" src="'partials/title.html'"></div>
    <div id="intro">
        <p>[enter bio here]</p>
        <p>A violent explosion shook the air, and a spout of water, steam, mud, and shattered metal shot far up into the sky.  As the camera of the Heat-Ray hit the water, the latter had immediately flashed into steam. In another moment a huge wave, like a muddy tidal bore but almost scaldingly hot, came sweeping round the bend upstream.  I saw people struggling shorewards, and heard their screaming and shouting faintly above the seething and roar of the Martian's collapse.</p>
    </div>
    <hr>

    <section>
      <h2>Recent Work</h2>
      <p><em>[use this space for up to 5 "pinned" posts giving short overviews of your most recent or best work]</em></p>

      <div class="selected_work">
        <h3><a href="detail.html"><em>Title</em></a></h3>
        <img src="assets/img/placeholder.jpg" class="show-for-large-up"/>
        <br><br>
        <p>[enter brief description here]</p>  
        <p>[additional images, sounds, or embedded videos can be placed here]</p>
        <hr>
      </div>

      <div class="selected_work">
        <h3><a href="detail.html"><em>Title</em></a></h3>
        <img src="assets/img/placeholder.jpg" class="show-for-large-up"/>
        <br><br>
        <p>[enter brief description here]</p>  
        <p>[additional images, sounds, or embedded videos can be placed here]</p>
        <hr>
      </div>

      <div class="selected_work">
        <h3><a href="detail.html"><em>Title</em></a></h3>
        <img src="assets/img/placeholder.jpg" class="show-for-large-up"/>
        <br><br>
        <p>[enter brief description here]</p>  
        <p>[additional images, sounds, or embedded videos can be placed here]</p>
        <hr>
      </div>
  </section>

  <div ng-include="" src="'partials/table.html'"></div>


  <section>
    <h2>Skills</h2>
    <p>[list your awesome skillz here]</p>
    <ul>
      <li>Skill 1</li>
      <li>Skill 2</li>
      <li>Skill 3</li>
      <li><a href="#">Skills can be links!</a></li>
      <li>Skill 5</li>
      <li>Skill 6</li>
      <li>Skill 7</li>
      <li>Skill 8</li>
    </ul>
    <hr>
  </section>

  <section>
    <h2>Friends</h2>
    <p>[be cool - link to your friendz sites here]</p>
    <ul>
      <li><a href="#">Friend 1</a></li>
      <li><a href="#">Friend 2</a></li>
      <li><a href="#">Friend 3</a></li>
      <li><a href="#">Friend 4</a></li>
      <li><a href="#">Friend 5</a></li>
      <li><a href="#">Friend 6</a></li>
      <li><a href="#">Friend 7</a></li>
      <li><a href="#">Friend 8</a></li>
      <li><a href="#">Friend 9</a></li>
      <li><a href="#">Friend 10</a></li>
    </ul>
  </section>

	</div>
</div><!-- close grid-block -->
