---
name: home
url: /
title: adam salberg
---

<div class="grid-block">
	<div class="grid-block small-12 vertical align-center">
		<div class="grid-content">
          <section>
          	<div class="grid-container text-center">
            <br><br>
            <h1>Adam Salberg</h1>
            <h3><small><a href="mailto:adsalberg@gmail.com">adsalberg@gmail.com</a> • <a href="tel:9177190180">917.719.0180</a></small></h3>
            <div class="grid-content shrink align-center">
              <hr>
                <p>i am a non-profit consultant specializing in research and grant-writing, with a primary focus on the intersection between women's empowerment and climate change adaptation. i am also an <a href="./sound">off-broadway sound designer</a> and <a href="./photo">sometimes photographer</a>.</p>
                <p>based in new york, frequently elsewhere.</p>
              </div>
              <hr>
          </div>
          </section>

          <section> <!-- Work Experience -->
            <div class="grid-container">
              <div class="small-12 small-centered columns">
                <h2><strong>Work Experience</strong></h2>

              <h3><strong>iDE</strong> <small>2/15 - Present</small></h3>
              <h4>Consultant/Disaster Response Coordinator • Kathmandu, Nepal</h4>
              <ul>
                <li>Developing grant proposals for international donors including USAID, DFID, the European Commission</li>
                <li>Project design and scoping</li>
                <li>Training local staff</li>
                <li>Developing disaster readiness and response protocols</li>
                <span>***POST-EARTHQUAKE***</span>
                <li>Leading disaster response effort</li>
                <li>Coordinating with multiple foreign and domestic teams, engaging with UN Cluster Groups</li>
              </ul>

              <h3><strong>Theatre [various]</strong> <small>5/10 - Present</small></h3>
              <h4>Sound Designer/Engineer/Teacher • New York, etc</h4>
              <ul>
                <li>Multiple off-broadway and regional design credits</li>
                <li>Visiting artist and honorary member of the Yale Dramatic Association</li>
                <li>For more info, visit <a href="./sound">adamsalberg.com/sound</a></li>
              </ul>

              <h3><strong>Gramercy Consultants</strong> <small>4/13 - 12/13</small></h3>
                <h4>Manager • New York, NY</h4>
                    <ul>
                        <li>Developing new areas for business ggrid-containerth</li>
                        <li>Drafting proposals and cost projections for potential clients</li>
                        <li>Project management for evolving portfolio of iOS, Android, and web apps</li>
                    </ul>

                  <!-- toggle additional work experience -->
                  <p><a data-toggle="moreWork">more</a></p>

              <div class="toggle" id="moreWork" data-toggler=".expanded">

                <h3><strong>New York Cares</strong> <small>1/13 - 4/13</small></h3>
                <h4>Disaster Response Project Manager • New York, NY</h4>
                    <ul>
                        <li>Developed high-impact volunteer opportunities to assist with Hurricane Sandy disaster relief</li>
                        <li>Drafted protocols for identifying, recruiting, and training new volunteer leadership</li>
                        <li>Managed day-to-day needs for ongoing field operations</li>
                    </ul>

          <!--     <div class="business"><h2>Arsone Media</h2></div><div class="job_date"><h3>1/10 - Present</h3></div>
              <div class="job_title"><h3><span>Founder and Project Lead • New York, NY</span></h3></div>
                  <ul>
                      <li>Providing guidance and consulting to new small businesses and non-profits</li>
                      <li>Directing and executing traditional and new media strategies (web/social/press/ad/mobile)</li>
                  </ul> -->

                <h3><strong>WomensTrust MFI</strong> <small>12/11 - 3/12</small></h3>
                <h4>Analyst/Consultant • Accra, Ghana</h4>
                    <ul>
                        <li>Performed research and analysis on microfinance loan portfolio and market, drafted proposals for new programs</li>
                        <li>Designed modules for Monitoring and Evaluation</li>
                        <li>Provided database management and architecture</li>
                    </ul>

                <h3><strong>Gramercy Consultants</strong> <small>9/10 - 4/11</small></h3>
                <h4>Associate • New York, NY</h4>
                    <ul>
                        <li>Designed apps for Android and iOS, created marketing packages for clients</li>
                        <li>Coordinated work across multiple departments, ensured timely delivery of products</li>
                    </ul>

                <h3><strong>Barnes &amp; Noble</strong> <small>10/10 - 1/11</small></h3>
                <h4>Consultant • New York, NY</h4>
                    <ul>
                        <li>Pre-release Nook Color tablet development team</li>
                        <li>Designed and programmed interactive children's e-books</li>
                        <li>Beta testing of device UI/UX</li>
                    </ul>

                <h3><strong>Eric Gioia for Public Advocate</strong> <small>4/09 - 9/09</small></h3>
                <h4>Director of New Media • New York, NY</h4>
                    <ul>
                        <li>Created content to disseminate candidate's message via Internet and social networks</li>
                        <li>Engineered doubling of candidate's online base, led field in online supporters (Twitter/Facebook, PageRank)</li>
                        <li>Helped bring in record-setting $2 million+ in campaign contributions</li>
                    </ul>

                <h3><strong>Clinton Global Initiative (CGI)</strong> <small>1/09 - 5/09</small></h3>
                <h4>Research Intern/Consultant • New York, NY</h4>
                    <ul>
                        <li>Prepared briefings and talking points for the office of former President Clinton</li>
                        <li>Drafted strategic memos for executive review</li>
                        <li>Performed research for best practice case studies, marketing, membership recruitment</li>
                    </ul>

      <!--        <div class="business"><h2>JUNTOS Dance Company</h2></div><div class="job_date"><h3>9/08 - 8/09</h3></div>
              <div class="job_title"><h3><span>Strategic Advisor • New York, NY | Mexico</span></h3></div>
                  <ul>
                      <li>Responsible for coordinating communications and marketing initiatives (web/social/press/ad/events)</li>
                      <li>Planned and coordinated fundraising agenda to successfully exceed target goal of $25,000</li>
                  </ul> -->

                <h3><strong>Hillary Clinton for President</strong> <small>12/08 - 1/09</small></h3>
                <h4>Field Organizer • Las Vegas, NV</h4>
                    <ul>
                        <li>Conducted voter registration and outreach</li>
                        <li>Succesfully recruited multiple precinct captains for 2008 Nevada State Democratic Caucus</li>
                    </ul>
                <p><a data-toggle="moreWork">less</a></p>
                </div> <!-- end toggle section -->
                <hr>
              </div>
            </div>
          </section>

          <section> <!-- Education -->
            <div class="grid-container">
              <div class="small-12 small-centered columns">
                <h2><strong>Education</strong></h2>
                <h3>Fordham University</h3>
                <p>B.A., International Aid and Development</p>
                <hr>
              </div>
            </div>
          </section>

          <section> <!-- Research -->
            <div class="grid-container">
              <div class="small-12 small-centered columns">
                <h2><strong>Research Experience</strong></h2>
                <ul>
                  <li>Emergency Disaster Response and Special Populations</li>
                <li>Gender Equality and Food Security in Nepal</li>
                <li>Climate Change Adaptation and Disaster Risk Reduction <span>[Baccalaureate Thesis; Guest Lecturer: Fordham University, Clinton Global Initiative]</span></li>
                    <li>Humanitarian Intervention in Disaster and Post-Conflict Zones <span>[Guest Lecturer: Fordham University]</span></li>
                    <li>Corporate Social Responsibility / Sustainability</li>
                    <li>Design and Engineering for Theatre <span>[Visiting Artist: Yale University]</span></li>
                </ul>
                <hr>
              </div>
            </div>
          </section>

          <section> <!-- Skills -->
            <div class="grid-container">
              <div class="small-12 small-centered columns">
                <h2><strong>Skills</strong></h2>
                  <ul>
                  <li>Web <span>[HTML, CSS, PHP, SQL, JS/jQuery];</span></li>
                      <li>Graphic Design <span>[Adobe CS];</span></li>
                      <li>Video Editing <span>[Final Cut Pro, iMovie, Motion, Color];</span></li>
                      <li><a href="./photo">Published Photographer</a> <span>[Adobe CS, Lightroom, Color Correction, Retouching];</span></li>
                      <li>Music Recording/<a href="http://www.soundcloud.com/ars-one" >Composition</a>/Production <span>[Pro Tools, Logic Pro, Ableton Live];</span></li>
                      <li>Drafting <span>[AutoCAD, Vectorworks, SketchUp, pencil and paper];</span></li>
                      <li>CRM/CMS <span>[Raiser's Edge, Salesforce, Constant Contact, Wordpress];</span></li>
                      <li>NYS Certified Emergency Medical Technician <span>[Recipient NYCDOH/MRC Exemplary Responder Award - 2013];</span></li>
                      <li>World Class Ice Cream Chef;</li>
                  </ul>
                  <hr>
              </div>
            </div>
          </section>

          <section> <!-- Language -->
            <div class="grid-container">
              <div class="small-12 small-centered columns">
                <h2><strong>Language</strong></h2>
                <ul>
                  <li>Conversational Hebrew</li>
                  <li>Intermediate French</li>
                  <li>Basic Spanish and Arabic</li>
                </ul>
                <hr>
              </div>
            </div>
          </section>

    <p class="text-center"><a href="./ASalberg_CV.pdf">click here to download a pdf of my cv.</a></p>

		</div>
	</div>
</div><!-- close grid-block -->
