---
name: login
url: /login
title: login • your name
animationIn: fadeIn
animationOut: fadeOut
---

<div class="grid-block vertical align-center">
	<div class="grid-content v-align">

		<div class="small-6 grid-container align-center">
			<div class="neutral-card">
				<div class="card-section">
					<form>
						<input type="text" placeholder="username">
						<input type="password" placeholder="password">
						<a ui-sref="settings" class="button float-right">login</a>
					</form>
				</div>
			</div>
		</div>


	</div>
</div>