---
name: photo album
url: /photoalbum
title: your name • photo album title
animationIn: fadeIn
animationOut: fadeOut
---

<div class="grid-block vertical align-center">
  <div class="grid-content">
  	<p class="text-right"><a ui-sref="photo">back to galleries</a></p>
  	<h1 class="text-center">title</h1>
  	<hr>
    <p>[enter brief description here]</p>
    <p>I say this continual smoking must have been one cause, at least, of his peculiar disposition; for every one knows that this earthly air, whether ashore or afloat, is terribly infected with the nameless miseries of the numberless mortals who have died exhaling it; and as in time of the cholera, some people go about with a camphorated handkerchief to their mouths; so, likewise, against all mortal tribulations, Stubb's tobacco smoke might have operated as a sort of disinfecting agent.</p>
    <hr>
    <br>
    <div class="row small-up-1 gallery">
      <img src="../assets/img/placeholder.jpg">
      <p class="caption">[enter photo description here]</p>
      <img src="./assets/img/placeholder.jpg">
      <p class="caption">[enter photo description here]</p>
      <img src="./assets/img/placeholder.jpg">
      <p class="caption">[enter photo description here]</p>
      <img src="./assets/img/placeholder.jpg">
      <p class="caption">[enter photo description here]</p>
      <img src="./assets/img/placeholder.jpg">
      <p class="caption">[enter photo description here]</p>
      <img src="./assets/img/placeholder.jpg">
      <p class="caption">[enter photo description here]</p>
      <img src="./assets/img/placeholder.jpg">
      <p class="caption">[enter photo description here]</p>
      <img src="./assets/img/placeholder.jpg">
      <p class="caption">[enter photo description here]</p>
      <img src="./assets/img/placeholder.jpg">
      <p class="caption">[enter photo description here]</p>
      <img src="./assets/img/placeholder.jpg">
      <p class="caption">[enter photo description here]</p>
      <img src="./assets/img/placeholder.jpg">
      <p class="caption">[enter photo description here]</p>
      <img src="./assets/img/placeholder.jpg">
      <p class="caption">[enter photo description here]</p>
      <img src="./assets/img/placeholder.jpg">
      <p class="caption">[enter photo description here]</p>
      <img src="./assets/img/placeholder.jpg">
      <p class="caption">[enter photo description here]</p>
      <img src="./assets/img/placeholder.jpg">
      <p class="caption">[enter photo description here]</p>
      <img src="./assets/img/placeholder.jpg">
      <p class="caption">[enter photo description here]</p>
      <img src="./assets/img/placeholder.jpg">
      <p class="caption">[enter photo description here]</p>
      <img src="./assets/img/placeholder.jpg">
      <p class="caption">[enter photo description here]</p>
    </div>
    <hr>
  </div>
</div>