---
name: photo
url: /photo
title: adam salberg • photography
animationIn: fadeIn
animationOut: fadeOut
---

<div class="grid-block">
    <div class="grid-content">
  <section>
    <div class="row">
      <div class="small-12 small-centered columns" id="title">
        <br><br>
        <h1>adam salberg</h1>
        <h3>"photographer"</h3>
        <div id="social">
          <ul>
            <li><a href="https://www.facebook.com/adamsalberg" target="_blank">facebook</a></li>
            <li><a href="https://www.instagram.com/arsone" target="_blank">instagram</a></li>
            <li><a href="https://www.500px.com/arsone" target="_blank">500px</a></li>
            <li><a href="mailto:adsalberg@gmail.com" target="_blank">email</a></li>
          </ul>
        </div>
      </div>
    </div>
    </section>

    <hr>

    <section>
      <div class="grid-block small-up-1 medium-up-3 align-center">
        <div class="grid-content">
          <div class="card">
            <a href="./catskills/"><img src="assets/photo/img/catskills_thumb.jpg"></a>
            <div class="card-divider">the things we leave behind</div>
            <div class="card-section">[catskills, ny • ongoing]</div>
          </div>
        </div>
        <div class="grid-content">
          <div class="card">
            <a href="./nepal/"><img src="assets/photo/img/nepal_thumb.jpg"></a>
            <div class="card-divider">the ground beneath our feet</div>
            <div class="card-section">[nepal • 2015]</div>
          </div>
        </div>
        <div class="grid-content">
          <div class="card">
            <a href="./sts135/"><img src="assets/photo/img/launch_thumb.jpg"></a>
            <div class="card-divider">young americans</div>
            <div class="card-section">[cape canaveral, fl • july 2011]
            </div>
          </div>
        </div>
        <div class="grid-content">
          <div class="card">
            <a href="./cute/"><img src="assets/photo/img/cute_thumb.jpg"></a>
            <div class="card-divider">literally just pictures of cute animals</div>
            <div class="card-section">[various]</div>
          </div>
        </div>
        <div class="grid-content">
          <div class="card">
            <a href="./faces/"><img src="assets/photo/img/faces_thumb.jpg"></a>
            <div class="card-divider">faces</div>
            <div class="card-section">[various]</div>
          </div>
        </div>
        <div class="grid-content">
          <div class="card">
            <a href="./nyc/"><img src="assets/photo/img/nyc_thumb.jpg"></a>
            <div class="card-divider">empire state</div>
            <div class="card-section">[new york • various]</div>
          </div>
        </div>
        <div class="grid-content">
          <div class="card">
            <a href="./161st/"><img src="assets/photo/img/161st_thumb.jpg"></a>
            <div class="card-divider">161st and river</div>
            <div class="card-section">[yankee stadium • 2008]</div>
          </div>
        </div>
        <div class="grid-content">
          <div class="card">
            <a href="./roos/"><img src="assets/photo/img/roos_thumb.jpg"></a>
            <div class="card-divider">in the shadow of new york</div>
            <div class="card-section">[roosevelt island • 2008]</div>
          </div>
        </div>
        <div class="grid-content">
          <div class="card">
            <a href="./hrc/"><img src="assets/photo/img/hrc_thumb.jpg"></a>
            <div class="card-divider">hillary for nevada</div>
            <div class="card-section">[las vegas • 2007]</div>
          </div>
        </div>
      </div> <!-- close grid-block -->
    <div class="row">
      <p class="text-center"><a href="mailto:adsalberg@gmail.com?subject=Photo%20Inquiry">click here to contact the artist.</a></p>
    </div>
    </section>

    <br>

    <section>
      <div class="row">
        <div class="small-12 small-centered columns">
            <h3 style="text-align:center;">other stuff</h3>
        </div>
      </div>
      <div class="grid-block small-up-1 medium-up-3 align-center">
        <div class="grid-content">
          <div class="card">
            <a href="../sound"><img src="assets/photo/img/sounddesign_thumb.gif"></a>
            <div class="card-divider">sound design</div>
          </div>
        </div>
        <div class="grid-content">
          <div class="card">
            <a href="../"><img src="assets/photo/img/work_thumb.jpg"></a>
            <div class="card-divider">cv</div>
          </div>
        </div>
      </div><!-- close grid-block -->
    </section>

      </div>
</div><!-- close grid-block -->
