---
name: photo
url: /photo
title: your name • description
animationIn: fadeIn
animationOut: fadeOut
---

<div class="grid-block">
  <div class="grid-content">
    <div ng-include="" src="'partials/title.html'"></div>
  </div>

    <section>
      <div class="card success">
        <div class="card-section">
          this page contains links to all of your image galleries. by default galleries are displayed in reverse chronological order (you can manually override the order in settings).
        </div>
      </div>

      <div class="grid-block small-up-1 medium-up-2 large-up-3 align-center">
        <div class="grid-content">
          <div class="card">
            <a ui-sref="photo album"><img src="http://adamsalberg.com/photo/cute/img/img9.jpg"></a>
            <div class="card-divider">gallery title</div>
            <div class="card-section">[subtitle]</div>
          </div>
        </div>
        <div class="grid-content">
          <div class="card">
            <a ui-sref="photo album"><img src="http://adamsalberg.com/photo/cute/img/img11.jpg"></a>
            <div class="card-divider">gallery title</div>
            <div class="card-section">[subtitle]</div>
          </div>
        </div>
        <div class="grid-content">
          <div class="card">
            <a ui-sref="photo album"><img src="http://adamsalberg.com/photo/cute/img/img4.jpg"></a>
            <div class="card-divider">gallery title</div>
            <div class="card-section">[subtitle]
            </div>
          </div>
        </div>
        <div class="grid-content">
          <div class="card">
            <a ui-sref="photo album"><img src="http://adamsalberg.com/photo/cute/img/img12.jpg"></a>
            <div class="card-divider">gallery title</div>
            <div class="card-section">[subtitle]</div>
          </div>
        </div>
        <div class="grid-content">
          <div class="card">
            <a ui-sref="photo album"><img src="http://adamsalberg.com/photo/cute/img/img15.jpg"></a>
            <div class="card-divider">gallery title</div>
            <div class="card-section">[subtitle]</div>
          </div>
        </div>
        <div class="grid-content">
          <div class="card">
            <a ui-sref="photo album"><img src="http://adamsalberg.com/photo/cute/img/img18.jpg"></a>
            <div class="card-divider">gallery title</div>
            <div class="card-section">[subtitle]</div>
          </div>
        </div>
        <div class="grid-content">
          <div class="card">
            <a ui-sref="photo album"><img src="http://adamsalberg.com/photo/cute/img/img19.jpg"></a>
            <div class="card-divider">gallery title</div>
            <div class="card-section">[subtitle]</div>
          </div>
        </div>
        <div class="grid-content">
          <div class="card">
            <a ui-sref="photo album"><img src="http://adamsalberg.com/photo/cute/img/img7.jpg"></a>
            <div class="card-divider">gallery title</div>
            <div class="card-section">[subtitle]</div>
          </div>
        </div>
      </div> <!-- close grid-block -->
    </section>

<!--     <br>

    <section>
      <div class="row">
        <div class="small-12 small-centered columns">
            <h3 style="text-align:center;">other stuff</h3>
        </div>
      </div>
      <div class="grid-block small-up-1 medium-up-3 align-center">
        <div class="grid-content">
          <div class="card">
            <a href="#"><img src="./assets/img/placeholder.jpg"></a>
            <div class="card-divider">sound design</div>
          </div>
        </div>
        <div class="grid-content">
          <div class="card">
            <a href="#"><img src="./assets/img/placeholder.jpg"></a>
            <div class="card-divider">cv</div>
          </div>
        </div>
      </div>
    </section> -->

      </div>
</div><!-- close grid-block -->
