---
name: photo
url: /photo
title: your name • description
animationIn: fadeIn
animationOut: fadeOut
---

<div class="grid-block">
    <div class="grid-content">
  <section>
    <div class="row">
      <div class="small-12 small-centered columns" id="title">
        <br><br>
        <h1>your name</h1>
        <h3>title</h3>
        <div id="social">
          <ul>
            <li><a href="#">facebook</a></li>
            <li><a href="#">instagram</a></li>
            <li><a href="#">500px</a></li>
            <li><a href="#">email</a></li>
          </ul>
        </div>
      </div>
    </div>
    </section>

    <hr>

    <section>
      <div class="grid-block small-up-1 medium-up-3 align-center">
        <div class="grid-content">
          <div class="card">
            <a ui-sref="photoalbum.html"><img src="./assets/img/placeholder.jpg"></a>
            <div class="card-divider">album title</div>
            <div class="card-section">[subtitle]</div>
          </div>
        </div>
        <div class="grid-content">
          <div class="card">
            <a ui-sref="photoalbum.html"><img src="./assets/img/placeholder.jpg"></a>
            <div class="card-divider">album title</div>
            <div class="card-section">[subtitle]</div>
          </div>
        </div>
        <div class="grid-content">
          <div class="card">
            <a ui-sref="photoalbum.html"><img src="./assets/img/placeholder.jpg"></a>
            <div class="card-divider">album title</div>
            <div class="card-section">[subtitle]
            </div>
          </div>
        </div>
        <div class="grid-content">
          <div class="card">
            <a ui-sref="photoalbum.html"><img src="./assets/img/placeholder.jpg"></a>
            <div class="card-divider">album title</div>
            <div class="card-section">[subtitle]</div>
          </div>
        </div>
        <div class="grid-content">
          <div class="card">
            <a ui-sref="photoalbum.html"><img src="./assets/img/placeholder.jpg"></a>
            <div class="card-divider">album title</div>
            <div class="card-section">[subtitle]</div>
          </div>
        </div>
        <div class="grid-content">
          <div class="card">
            <a ui-sref="photoalbum.html"><img src="./assets/img/placeholder.jpg"></a>
            <div class="card-divider">album title</div>
            <div class="card-section">[subtitle]</div>
          </div>
        </div>
        <div class="grid-content">
          <div class="card">
            <a ui-sref="photoalbum.html"><img src="./assets/img/placeholder.jpg"></a>
            <div class="card-divider">album title</div>
            <div class="card-section">[subtitle]</div>
          </div>
        </div>
        <div class="grid-content">
          <div class="card">
            <a ui-sref="photoalbum.html"><img src="./assets/img/placeholder.jpg"></a>
            <div class="card-divider">album title</div>
            <div class="card-section">[subtitle]</div>
          </div>
        </div>
      </div> <!-- close grid-block -->
    <div class="row">
      <p class="text-center"><a href="#">click here to contact the artist.</a></p>
    </div>
    </section>

<!--     <br>

    <section>
      <div class="row">
        <div class="small-12 small-centered columns">
            <h3 style="text-align:center;">other stuff</h3>
        </div>
      </div>
      <div class="grid-block small-up-1 medium-up-3 align-center">
        <div class="grid-content">
          <div class="card">
            <a href="#"><img src="./assets/img/placeholder.jpg"></a>
            <div class="card-divider">sound design</div>
          </div>
        </div>
        <div class="grid-content">
          <div class="card">
            <a href="#"><img src="./assets/img/placeholder.jpg"></a>
            <div class="card-divider">cv</div>
          </div>
        </div>
      </div>
    </section> -->

      </div>
</div><!-- close grid-block -->
