---
name: production detail
url: /proddetail
title: production name • your name
animationIn: fadeIn
animationOut: fadeOut
---

<div class="grid-block vertical align-center">
  <div class="grid-content">

  	<div class="card success">
  		<div class="card-section">
  			this is a production detail page. use it to talk in more detail about a specific piece of work. incorporate images, video, audio, and text.
  		</div>
  	</div>

  	<p class="text-right"><a ui-sref="home">back to main</a></p>
  	<div class="grid-block">
	  	<div class="grid-container align-center">
	  		<div class="prod-image">
	  			<img src="http://adamsalberg.com/photo/nyc/img/img27.jpg">
	  			<h1 class="text-center prod-title"><span>Title</span></h1>
	  		</div>
	  	</div>
	</div>
  	<hr>
  	<div class="card success">
  		<div class="card-section">[who else worked on it? don't hog the glory - add your collaborators here. link to their websites if they have one.]</div>
  	</div>
  	<ul class="no-bullet text-center">
  		<li>[Role]: [Name]</li>
  		<li>[Role]: <a href="#">[Name]</a></li>
  		<li>[Role]: [Name]</li>
  		<li>[Role]: [Name]</li>
  		<li>[Role]: [Name]</li>
  	</ul>
  	<hr>

    <p>[enter brief description here]</p>
    <p>I say this continual smoking must have been one cause, at least, of his peculiar disposition; for every one knows that this earthly air, whether ashore or afloat, is terribly infected with the nameless miseries of the numberless mortals who have died exhaling it; and as in time of the cholera, some people go about with a camphorated handkerchief to their mouths; so, likewise, against all mortal tribulations, Stubb's tobacco smoke might have operated as a sort of disinfecting agent.</p>
    <hr>
    <br>

    <div class="card success">
    	<div class="card-section">[layout your work here. this can be a series of images, video clips, audio files - whatever you need to tell your story.]</div>
    </div>

    <div class="card">
    	<img src="http://adamsalberg.com/photo/nyc/img/img18.jpg">
    	<div class="card-divider">
    		[image description]
    	</div>
    </div>
    <br>
    <div class="card">
    	<img src="http://adamsalberg.com/photo/nyc/img/img16.jpg">
    	<div class="card-divider">
    		[image description]
    	</div>
    </div>
    <hr>
    <h3>audio files</h3>
    <div class="grid-block small-up-1 medium-up-3">
    	<div class="grid-content">
    		<div class="card">
    			<audio controls preload="none">
    				<source src="" type="audio/mpeg">
    				<embed height="50" width="100" src="">
    			</audio>
	    		<div class="card-divider">
	    			that song i wrote
	    		</div>
    		</div>
    	</div>
    	<div class="grid-content">
    		<div class="card">
    			<audio controls preload="none">
    				<source src="" type="audio/mpeg">
    				<embed height="50" width="100" src="">
    			</audio>
	    		<div class="card-divider">
	    			that guitar riff i riffed
	    		</div>
    		</div>
    	</div>
    	<div class="grid-content">
    		<div class="card">
    			<audio controls preload="none">
    				<source src="" type="audio/mpeg">
    				<embed height="50" width="100" src="">
    			</audio>
	    		<div class="card-divider">
	    			that cue from that thing
	    		</div>
    		</div>
    	</div>
    </div>
    <hr>
    <h3>some more images <small>(hint: click the images to enlarge!)</small></h3>
    <div class="grid-block small-up-1 medium-up-3">
    	<div class="grid-content">
    		<div class="card">
    			<a zf-open="imgModal1"><img src="http://adamsalberg.com/photo/cute/img/img31.jpg"></a>
    			<div zf-modal="" id="imgModal1">
    				<a cf-close="" class="close-button">x</a>
    				<img src="http://adamsalberg.com/photo/cute/img/img31.jpg">
    			</div>
    			<div class="card-divider">
    				image descriptions can be <a href="#">links!</a>
    			</div>
    		</div>
    	</div>
    	<div class="grid-content">
    		<div class="card">
    			<a zf-open="imgModal2"><img src="http://adamsalberg.com/photo/cute/img/img34.jpg"></a>
    			<div zf-modal="" id="imgModal2">
    				<a cf-close="" class="close-button">x</a>
    				<img src="http://adamsalberg.com/photo/cute/img/img34.jpg">
    			</div>
    			<div class="card-divider">
    				image description
    			</div>
    		</div>
    	</div>
    	<div class="grid-content">
    		<div class="card">
    			<a zf-open="imgModal3"><img src="http://adamsalberg.com/photo/cute/img/img30.jpg"></a>
    			<div zf-modal="" id="imgModal3">
    				<a cf-close="" class="close-button">x</a>
    				<img src="http://adamsalberg.com/photo/cute/img/img30.jpg">
    			</div>
    			<div class="card-divider">
    				image description
    			</div>
    		</div>
    	</div>
    </div>
    <hr>
    <h3>make a list</h3>
    <ul>
    	<li>put stuff in your list</li>
    	<li>put stuff in your list</li>
    	<li>put stuff in your list</li>
    	<li>put stuff in your list</li>
    	<li>put stuff in your list</li>
    </ul>


  </div>
</div>