---
name: resume
url: /resume
title: your name • resume
animationIn: fadeIn
animationOut: fadeOut
---

<div class="grid-block vertical align-center">
  <div class="grid-content">

  	<div class="card success">
	  		<div class="card-section">
				this is a resumé page. by default it includes three sections: <strong>bio</strong>, <strong>work experience</strong>, and <strong>education</strong>. you can create an unlimited number of additional sections using one of three types:
					<ul>
						<li><strong>text</strong> - for block text, like describing a unique accomplishment.</li>
						<li><strong>list</strong> - for listing things, like skills or awards</li>
						<li><strong>html</strong> - for embedding iframes (like youtube or soundcloud), or for custom injecting your own code</li>
					</ul>
					<br>
				the sections can be ordered any way you want.
			</div>
		</div>


  	<div ng-include="" src="'partials/title.html'"></div>
  	<div id="intro">
        <p>[enter bio here]</p>
        <p>A violent explosion shook the air, and a spout of water, steam, mud, and shattered metal shot far up into the sky.  As the camera of the Heat-Ray hit the water, the latter had immediately flashed into steam.  In another moment a huge wave, like a muddy tidal bore but almost scaldingly hot, came sweeping round the bend upstream.  I saw people struggling shorewards, and heard their screaming and shouting faintly above the seething and roar of the Martian's collapse.</p>
    </div>
    <hr>

    <section>
      <h2><strong>Work Experience</strong></h2>
		<p>[list your relevant work experience here]</p>
		<h3><strong>[Employer]</strong> <small>[Dates Employed]</small></h3>
		<h4>[Title] • [Location]</h4>
		<ul>
			<li>The north and south winds met where the house stood, and made it the exact center of the cyclone</li>
			<li>  In the middle of a cyclone the air is generally still, but the great pressure of the wind on every side of the house raised it up higher and higher, until it was at the very top of the cyclone; and there it remained and was carried miles and miles away as easily as you could carry a feather</li>
			<li> It was very dark, and the wind howled horribly around her, but Dorothy found she was riding quite easily</li>
			<li>  After the first few whirls around, and one other time when the house tipped badly, she felt as if she were being rocked gently, like a baby in a cradle</li>
			<li> Toto did not like it</li>
		</ul>

		<h3><strong>[Employer]</strong> <small>[Dates Employed]</small></h3>
		<h4>[Title] • [Location]</h4>
		<ul>
			<li>Alice was rather doubtful whether she ought not to lie down on her face  like the three gardeners, but she could not remember ever having heard  of such a rule at processions; 'and besides, what would be the use of  a procession,' thought she, 'if people had all to lie down upon their  faces, so that they couldn't see it?' So she stood still where she was,  and waited</li>
			<li> When the procession came opposite to Alice, they all stopped and looked  at her, and the Queen said severely 'Who is this?' She said it to the  Knave of Hearts, who only bowed and smiled in reply</li>
			<li> 'Idiot!' said the Queen, tossing her head impatiently; and, turning to  Alice, she went on, 'What's your name, child?' 'My name is Alice, so please your Majesty,' said Alice very politely;  but she added, to herself, 'Why, they're only a pack of cards, after  all</li>
		</ul>

		<h3><strong>[Employer]</strong> <small>[Dates Employed]</small></h3>
		<h4>[Title] • [Location]</h4>
		<ul>
			<li>The train had started punctually</li>
			<li>  Among the passengers were a number of officers, Government officials, and opium and indigo merchants, whose business called them to the eastern coast</li>
		</ul>

		<!-- toggle additional work experience -->
	    <p><a data-toggle="moreWork">more</a> [keep additional employment history hidden]</p>

		<div class="toggle" id="moreWork" data-toggler=".expanded">

	    <h3><strong>[Employer]</strong> <small>[Dates Employed]</small></h3>
		<h4>[Title] • [Location]</h4>
		<ul>
			<li>The train had started punctually</li>
			<li>  Among the passengers were a number of officers, Government officials, and opium and indigo merchants, whose business called them to the eastern coast</li>
		</ul>

	    <h3><strong>[Employer]</strong> <small>[Dates Employed]</small></h3>
		<h4>[Title] • [Location]</h4>
		<ul>
			<li>The train had started punctually</li>
			<li>  Among the passengers were a number of officers, Government officials, and opium and indigo merchants, whose business called them to the eastern coast</li>
		</ul>

	    <h3><strong>[Employer]</strong> <small>[Dates Employed]</small></h3>
		<h4>[Title] • [Location]</h4>
		<ul>
			<li>The train had started punctually</li>
			<li>  Among the passengers were a number of officers, Government officials, and opium and indigo merchants, whose business called them to the eastern coast</li>
		</ul>

	    <h3><strong>[Employer]</strong> <small>[Dates Employed]</small></h3>
		<h4>[Title] • [Location]</h4>
		<ul>
			<li>The train had started punctually</li>
			<li>  Among the passengers were a number of officers, Government officials, and opium and indigo merchants, whose business called them to the eastern coast</li>
		</ul>

	    <h3><strong>[Employer]</strong> <small>[Dates Employed]</small></h3>
		<h4>[Title] • [Location]</h4>
		<ul>
			<li>The train had started punctually</li>
			<li>  Among the passengers were a number of officers, Government officials, and opium and indigo merchants, whose business called them to the eastern coast</li>
		</ul>

    	<p><a data-toggle="moreWork">less</a></p>
    </div>
    <hr>
  	</section>

	<section> <!-- Education -->
		<h2><strong>Education</strong></h2>
		<h3>[School Name]</h3>
		<p>[Degree Title]</p>
		<hr>
	</section>

	<section>
		<h2><strong>Statement of Purpose</strong></h2>
		<p>I am stating my purpose. As a person who frequently makes statements with the intention of clarifying my purpose, I purposefully am stating that this statement declares my purpose.</p>
		<hr>
  	</section>


  	<section>
		<h2><strong>Research Experience</strong></h2>
		<ul>
			<li>Research 1</li>
			<li>Research 2</li>
			<li>Research 3</li>
    	</ul>
    	<hr>
  	</section>

  	<section>
		<h2><strong>Skills</strong></h2>
		<ul>
			<li>Skill 1</li>
			<li>Skill 2</li>
			<li><a href="#">Skills can be links!</a></li>
			<li>Skill 4</li>
			<li>Skill 5</li>
			<li>Skill 6</li>
			<li>Skill 7</li>
			<li>Skill 8</li>
		</ul>
    	<hr>
  	</section>

  	<section>
		<h2><strong>Language</strong></h2>
		<ul>
			<li>Language 1</li>
			<li>Language 2</li>
			<li>Language 3</li>
		</ul>
		<hr>
  	</section>

  	<p class="text-center"><a href="#">click here to download a pdf of my cv.</a></p>

  </div>
</div>