---
name: settings
url: /settings
title: settings • your name
animationIn: fadeIn
animationOut: fadeOut
---

<div class="grid-block vertical align-center">
	<div class="grid-block">

		<div class="small-12 grid-container align-center">
			<div class="neutral-card">
				<div class="neutral-card-section">
					<div class="small-6">
						<h4>basic account <small><a href="#">upgrade to pro</a></small></h4>
						<h5>galleries: 4/6</h5>
						<meter max="6.0" min="0.0" value="4.0" high="5.0" low="0.0" title="Galleries Used"></meter>
						<h5>work pages: 7/10</h5>
						<meter max="10.0" min="0.0" value="7.0" high="6.9" low="0.0" title="pages used"></meter>
					</div>
				</div>
				<div class="neutral-card-divider">
					<h1 class="text-center">Settings</h1>
				</div>
				<div class="grid-block vertical medium-horizontal neutral-card-section">
					<div class="grid-content shrink">
						<section class="block-list">
							<header>panel</header>
							<ul>
								<li><a href="#">edit current pages</a></a></li>
								<li><a href="#">add new page</a></a></li>
								<li><a href="#">global settings</a></a></li>
								<li><a zf-open="walkthruModal">easy setup</a></a></li>
							</ul>
						</section>
					</div>
					<div class="grid-content">
						<h3>your pages</h3>
						<ul class="no-bullet">
							<li><a href="#">home</a></li>
							<li><a href="#">galleries</a>
							<ul>
								<li><a href="#">gallery 1</a></li>
								<li><a href="#">gallery 2</a></li>
								<li><a href="#">gallery 3</a></li>
								<li><a href="#">gallery 4</a></li>
							</ul></li>
							<li>works
							<ul>
								<li><a href="#">work 1</a></li>
								<li><a href="#">work 2</a></li>
								<li><a href="#">work 3</a></li>
								<li><a href="#">work 4</a></li>
								<li><a href="#">work 5</a></li>
								<li><a href="#">work 6</a></li>
								<li><a href="#">work 7</a></li>
							</ul></li>
							<li><a href="#">resumé</a></li>
						</ul>
						<hr>
						<h3>bits and bobs</h3>
						<h5>select font</h5>
						<select>
							<option value="Raleway">Raleway</option>
							<option value="Open Sans">Open Sans</option>
							<option value="Helvetica Neue">Helvetica Neue</option>
							<option value="Comic Sans" disabled>Comic Sans</option>
						</select>
						<h5>select a font color</h5>
						<color-picker ng-model="fontColor"></color-picker>
						<input type="text" ng-model="fontColor" ng-init="fontColor = '#00FFF'">
						<h5>select a background color</h5>
						<color-picker ng-model="bgColor"></color-picker>
						<input type="text" ng-model="bgColor" ng-init="bgColor = '#1F1F1F'">
						<h5>upload images</h5>
						<form>
							<input type="file" name="file" accept="image/*, .mp3" multiple>
							<input type="submit">
						</form>
					</div>
					<div zf-modal="" id="walkthruModal">
						<a zf-close="" id="close-button">x</a>
						<div class="grid-block vertical">
							<div class="grid-content padding">
								<p>would you like to continue using the easy walkthru? this will overwrite anything you may have manually created.</p>
								<a zf-close="" class="button">yes plz</a>
								<a zf-close="" class="button">hell no</a>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>
</div>