---
name: sound
url: /sound
title: adam salberg • sound design
animationIn: fadeIn
animationOut: fadeOut
---

<div class="grid-block">
  <div class="grid-block small-12 vertical align-center">
    <div class="grid-content">
  <section>
    <div class="row">
      <div class="small-10 small-centered columns" id="title">
        <br><br>
        <h1>Adam Salberg</h1>
        <h3><small><a href="mailto:adsalberg@gmail.com">adsalberg@gmail.com</a> • <a href="tel:9177190180">917.719.0180</a></small></h3>
        <div id="social">
          <ul>
            <li><a href="https://www.facebook.com/adamsalberg" target="_blank">facebook</a></li>
            <li><a href="https://www.instagram.com/arsone" target="_blank">instagram</a></li>
            <li><a href="https://soundcloud.com/ars-one" target="_blank">soundcloud</a></li>
          </ul>
        </div>
        <div class="small-6 small-centered columns">
          <hr>
        </div>
        <div id="intro">
            <p>i am a professional sound designer and engineer with 8+yrs experience in off-broadway and regional theatre. check out a selection of my work below.</p>
        </div>
        <hr>
      </div>
    </div>
  </section>

  <section>
    <div class="row">
      <div class="small-10 small-centered columns">
        <h2>Compositions and WIP</h2>
        <p>a collection of completed compositions and ideas i've saved for later. follow me on <a href="https://soundcloud.com/ars-one">soundcloud</a>.</p>
        <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/28083770&amp;color=54b6e7&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true"></iframe>
        <hr>
      </div>
    </div>
  </section>

  <section>
    <div class="row">
      <div class="small-10 small-centered columns">
        <h2>Recent Work</h2>
        <h3><em>The Woodsman</em> by James Ortiz</h3>
        <img src="img/woodsman.jpg" class="show-for-large-up"/>
        <br><br>
        <p>Directed by James Ortiz, Presented by <a href="http://www.strangemencompany.com/">Strangemen and Co.</a><br>
          New World Stages<br>
          February 2016</p>
          <div class="media-object stack-for-small">
            <div class="media-object-section">
              <div class="thumbnail">
                <a data-open="woodsmanSession"><img src="img/woodsman_session_thumb.png" alt="Thumbnail image of recording session for The Woodsman"></a>
              </div>
            </div>
            <div class="media-object-section">
              <p>Work for <em>The Woodsman</em> included an original thirty minute ambient soundscape emulating the mythical forests of Oz. Click the thumbnail to view a screenshot of the recording session featuring 17 separate tracks including 8 original field recordings and detailed automation curves. Examples of specific mythical creatures below.</p>
            </div>
            <div class="reveal large" id="woodsmanSession" data-reveal>
              <img src="img/woodsman_session.png">
              <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
          <p>Below are a collection of mythical animal noises created to represent the various wildlife encountered in the land of Oz.</p>
          <audio controls>
            <source src="audio/woods1.mp3" type="audio/mpeg">
            <embed height="50" width="100" src="audio/woods1.mp3">
          </audio>
          <p>The Blue-Footed Grackle</p>
          <audio controls>
            <source src="audio/woods2.mp3" type="audio/mpeg">
            <embed height="50" width="100" src="audio/woods2.mp3">
          </audio>
          <p>The Carnivorous Treehog</p>
          <audio controls>
            <source src="audio/woods3.mp3" type="audio/mpeg">
            <embed height="50" width="100" src="audio/woods3.mp3">
          </audio>
          <p>The Fan-Tailed Yapper</p>
          <audio controls>
            <source src="audio/woods4.mp3" type="audio/mpeg">
            <embed height="50" width="100" src="audio/woods4.mp3">
          </audio>
          <p>Large-Toothed Howler Ox</p>
          <audio controls>
            <source src="audio/woods5.mp3" type="audio/mpeg">
            <embed height="50" width="100" src="audio/woods5.mp3">
          </audio>
          <p>Eastern Kalida</p>
          <br>
          <p>Additionally, I developed a custom iOS app for remote control of audio cues during preshow. More detail available here: <a href="https://github.com/arsone/thewoodsmanapp" target="_blank">https://github.com/arsone/thewoodsmanapp</a>, or for the technically inclined, feel free to clone the repo here: https://github.com/arsone/thewoodsmanapp.git</p>
          <hr>
        </div>
      </div>
    <div class="row">
      <div class="small-10 small-centered columns">
        <h3><em>The Rocky Horror Show</em> by Richard O'Brien</h3>
        <img src="img/rhs_title.jpg" />
        <p>Directed by <a href="http://travisgreisler.com/">Travis Greisler</a>, Presented by the <a href="http://www.dramat.org">Yale Dramatic Association</a><br>
          Yale University Theater<br>
          November 2014</p>
        <p>For a full breakdown of my design for Rocky Horror, please visit <a href="./shows/2014/rocky_horror/">The Rocky Horror Show Sound Design • November 2014</a></p>
        <p><a href="./shows/2014/rocky_horror/[RHS] SBD_final.pdf" target="_blank">click here to view the SBD for Rocky Horror</a> [pdf]</p>
        <p>Cast Recording:</p>
        <iframe width="100%" height="350" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/56188082&amp;color=54b6e7&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=true"></iframe>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="small-10 small-centered columns">
        <h3><em>Pterodactyls</em> by Nicky Silver</h3>
        <img src="img/ptero.jpg" />
        <p>Directed by <a href="http://stephenkaliski.com">Steve Kaliski</a>, presented by Adjusted Realists<br>
          Teatro Circulo<br>
          New York, NY • July 2014</p>
        <p>For a full breakdown of my design for Pterodactyls, please visit <a href="./shows/2014/pterodactyls/">Pterodactyls Sound Design • July 2014</a></p>
        <h5>Selected Cues</h5>
        <audio controls>
          <source src="audio/cold.mp3" type="audio/mpeg">
          <embed height="50" width="100" src="audio/cold.mp3">
        </audio>
        <p>Dying Heartbeat Transition</p>
        <audio controls>
          <source src="audio/emma.mp3" type="audio/mpeg">
          <embed height="50" width="100" src="audio/emma.mp3">
        </audio>
        <p>Emma's Monologue</p>
        <audio controls>
          <source src="audio/end.mp3" type="audio/mpeg">
          <embed height="50" width="100" src="audio/end.mp3">
        </audio>
        <p>Finale</p>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="small-10 small-centered columns">
        <h3><em>My Base and Scurvy Heart</em> by Adam Szymkowicz</h3>
          <p>Directed by <a href="http://www.moritzvs.com/">Moritz von Stuelpnagel</a>, Produced by <a href="www.stu42.com/portfolios/my-base-and-scurvy-heart/">Studio 42</a><br>
          The Wild Project<br>
          April 2011</p>
          <div class="embed-container">
            <iframe width="560" height="315" src="//www.youtube.com/embed/RI_tkwhB-aw?rel=0" frameborder="0" allowfullscreen></iframe>
          </div>
          <hr>
      </div>
    </div>
    <div class="row">
      <div class="small-10 small-centered columns">
        <h3><em>Dust</em> by Billy Goda <small>[Associate Designer]</small></h3>
        <img src="img/dust1.jpg"/>
        <p>Directed by Scott Zigler<br>
        The Westside Theater<br>
        December 2008</p>
        <audio controls>
          <source src="audio/dust.mp3" type="audio/mpeg">
          <embed height="50" width="100" src="audio/dust.mp3">
        </audio>
        <hr>
      </div>
    </div>
  </section>

  <section>
    <div class="row">
      <div class="small-10 small-centered columns">
        <h2>Playground</h2>
        <p>Fun with physics and interface design.</p>
        <ul class="no-bullet">
          <li>
            <div class="embed-container">
              <iframe src="//player.vimeo.com/video/48984580?byline=0&amp;color=54b6e7" width="420" height="236" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
          </li>
          <li>
            <div class="embed-container">
              <iframe src="//player.vimeo.com/video/77308508?byline=0&amp;color=54b6e7" width="420" height="236" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
          </li>
        </ul>
        <hr>
      </div>
    </div>
  </section>

  <section>
    <div class="row">
      <div class="small-10 small-centered columns">
        <h2>Selected Production History</h2>
        <table class="scroll">
            <thead>
              <tr>
                <th>Production</th>
                <th>Director</th>
                <th>Company</th>
                <th>Venue</th>
                <th>Role</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><em><a target="_blank" href="./shows/2014/rocky_horror/">The Rocky Horror Show</a></em></td>
                <td>Travis Greisler</td>
                <td>Yale Dramatic Association</td>
                <td>Yale University Theater</td>
                <td>Sound Designer</td>
                <td>November 2014</td>
              </tr>
              <tr>
                <td><em><a target="_blank" href="./shows/2014/pterodactyls/">Pterodactyls</a></em></td>
                <td>Stephen Kaliski</td>
                <td>The Strain Theatre Company</td>
                <td>Teatro Circulo</td>
                <td>Sound Designer</td>
                <td>July 2014</td>
              </tr>
              <tr>
                <td><em>A Pigeon and a Boy</em></td>
                <td>Sacha Reich</td>
                <td>Jewish Theatre Collaborative</td>
                <td>Milagro Theatre</td>
                <td>Contributing Artist</td>
                <td>March 2014</td>
              </tr>
              <tr>
                <td><em>A Midsummer Night's Dream</em></td>
                <td>Stephen Kaliski</td>
                <td>Yale Dramatic Association</td>
                <td>Yale University Theater</td>
                <td>Sound Engineer</td>
                <td>February 2014</td>
              </tr>
              <tr>
                <td><em>Motherf*cker with the Hat</em></td>
                <td>Kevin Jones</td>
                <td>Artists Repertory Theatre</td>
                <td>Morrison Stage</td>
                <td>Contributing Artist</td>
                <td>February 2014</td>
              </tr>
              <tr>
                <td><em>The Woodsman</em></td>
                <td>James Ortiz</td>
                <td>Strangemen and Co.</td>
                <td>59E59</td>
                <td>Sound Designer</td>
                <td>January 2014</td>
              </tr>
              <tr>
                <td><em>Parade</em></td>
                <td>Sarah Krohn</td>
                <td>Yale Dramatic Association</td>
                <td>Yale University Theater</td>
                <td>Associate Sound Designer</td>
                <td>November 2013</td>
              </tr>
              <tr>
                <td><em>Sweeney Todd</em></td>
                <td>Tom Ridgely</td>
                <td>Yale Dramatic Association</td>
                <td>Yale University Theater</td>
                <td>Associate Sound Designer</td>
                <td>November 2011</td>
              </tr>
              <tr>
                <td><em>My Base and Scurvy Heart</em></td>
                <td>Moritz von Stuelpnagel</td>
                <td>Studio 42</td>
                <td>The Wild Project</td>
                <td>Sound Designer</td>
                <td>April 2011</td>
              </tr>
              <tr>
                <td><em>Arrah Na Pogue</em></td>
                <td>Peter Dobbins</td>
                <td>Storm Theatre</td>
                <td>Theater at the Church of Notre Dame</td>
                <td>Sound Designer</td>
                <td>March 2011</td>
              </tr>
              <tr>
                <td><em>Rent</em></td>
                <td>Mike Donahue</td>
                <td>Yale Dramatic Association</td>
                <td>Yale University Theater</td>
                <td>Sound Engineer</td>
                <td>November 2010</td>
              </tr>
              <tr>
                <td><em>The Odyssey: Which Direction Home</em></td>
                <td>Tamilla Woodard, et al</td>
                <td>The Internationalists</td>
                <td>LPAC</td>
                <td>Sound Designer (festival)</td>
                <td>July 2010</td>
              </tr>
              <tr>
                <td><em>Iph, Then</em></td>
                <td>Loy Arcenas</td>
                <td>Ma-Yi Theatre Company</td>
                <td>Theater for the New City</td>
                <td>Sound Designer</td>
                <td>October 2009</td>
              </tr>
              <tr>
                <td><em>Dust</em></td>
                <td>Scott Zigler</td>
                <td>A Roger Alan Gindi Production</td>
                <td>The Westside Theater</td>
                <td>Associate Sound Designer</td>
                <td>December 2008</td>
              </tr>
              <tr>
                <td><em>Klytaemnestra's Unmentionables</em></td>
                <td>David F. Chapman</td>
                <td>Studio 42 / Bradford Louryk</td>
                <td>University Settlement</td>
                <td>Associate Sound Designer</td>
                <td>December 2008</td>
              </tr>
              <tr>
                <td><em>I ____ NY</em></td>
                <td>Loy Arcenas</td>
                <td>Ma-Yi Theatre Company</td>
                <td>TADA Theater</td>
                <td>Sound Designer</td>
                <td>November 2008</td>
              </tr>
              <tr>
                <td><em>Three Movements</em></td>
                <td>Maura Farver</td>
                <td>Heiress Productions</td>
                <td>The Studio at Theater Row</td>
                <td>Associate Sound Designer</td>
                <td>October 2008</td>
              </tr>
              <tr>
                <td><em>Seven</em></td>
                <td>Evan Yionoulis</td>
                <td>Vital Voices Global Partnership</td>
                <td>The Culture Project</td>
                <td>Assistant Sound Designer</td>
                <td>April 2008</td>
              </tr>
            </tbody>
          </table>
          <hr>
      </div>
    </div>
  </section>

  <section>
    <div class="row">
      <div class="small-10 small-centered columns">
        <h2>Skills</h2>
        <ul>
          <li>Music Recording/Composition/Production [Pro Tools, Logic Pro, Ableton Live, MAX/MSP]</li>
          <li>Audio Engineering [digital/analog, A/B systems, wireless]</li>
          <li>Drafting [AutoCAD, Vectorworks, SketchUp, pencil and paper]</li>
          <li><a href="../../photo">Published Photographer</a> [Adobe CS, Lightroom, RAW Processing, Color Correction, Retouching]</li>
          <li>Video Editing [Final Cut, Motion, Color]</li>
          <li>Web Design/Programming [HTML, CSS, PHP, SQL, JS/jQuery]</li>
          <li>NYS Certified Emergency Medical Technician</li>
          <li>World Class Ice Cream Chef</li>
        </ul>
        <hr>
      </div>
    </div>
  </section>

  <section>
    <div class="row">
      <div class="small-10 small-centered columns">
        <h2>Friends</h2>
        <ul>
          <li><a href="http://www.stu42.com">Studio 42</a></li>
          <li><a href="http://ma-yitheatre.org/">Ma-Yi Theatre Company</a></li>
          <li><a href="http://www.dramat.org">Yale Dramatic Association</a></li>
          <li><a href="http://www.strangemencompany.com/">Strangemen and Co.</a></li>
          <li><a href="https://www.facebook.com/groups/fordhamalumnitheatrecompany/">Fordham University Alumni Theatre Company</a></li>
          <li><a href="http://www.truefalsetheatre.org">True False Theatre Co.</a></li>
          <li><a href="http://www.nycresistor.com/">NYC Resistor</a></li>
          <li><a href="http://sharathpatel.com/">Sharath Patel</a> [sound design]</li>
          <li><a href="http://jasonsherwooddesign.com/">Jason Sherwood</a> [scenic design]</li>
          <li><a href="http://www.pauldepoo.com/">Paul Tate dePoo</a> [scenic design]</li>
          <li><a href="http://www.starryeyedlighting.com/">Christina Watanabe</a> [lighting design]</li>
          <li><a href="http://joncottledesign.tumblr.com/">Jonathan Cottle</a> [lighting/scenic design]</li>
          <li><a href="http://andreahood.carbonmade.com/">Andrea Hood</a> [costume design]</li>
          <li><a href="http://jessicaantoniascott.net">Jessica Scott</a> [puppet design]</li>
          <li><a href="http://www.mishashields.com/">Misha Shields</a> [choreography]</li>
          <li><a href="http://mattsherwin.com/">Matt Sherwin</a> [composer]</li>
          <li><a href="http://travisgreisler.com/">Travis Greisler</a> [director]</li>
          <li><a href="http://www.moritzvs.com/">Moritz von Stuelpnagel</a> [director]</li>
          <li><a href="http://www.stephenkaliski.com/">Steve Kaliski</a> [director]</li>
          <!-- <li><a href="http://dianastahl.net/">Diana Stahl [playwright]</a></li>
          <li><a href="http://www.dariatavana.com">Daria Tavana [playwright]</a></li> -->
        </ul>
      </div>
    </div>
  </section>


  <p class="text-center">© Copyright 2016, Adam Salberg. All rights reserved.</p>

  
      </div>
  </div>
</div><!-- close grid-block -->