body {
	background: #1F1F1F;
	color: #CFCFCF;
	font-family: 'Abel', sans-serif;
	line-height: 1em;
}

h1, h2, h3, h4, h5 {
	font-family: 'Raleway', sans-serif;
}

h1 {
	line-height: 1em;
}

/*p {
	text-align: center;
}
*/
/*a {
	color: #CFCFCF;
}*/

/*ul {
	margin: 0;
	-webkit-padding-start:0;
}*/

/*img {
	display: block;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}*/
/*
.small-12 {
	padding-bottom: 2em;
}*/

/*.caption {
	line-height: 0;
	text-align: left;
	width: 90%;
}*/


/*.center {
	margin-left: 5%;
	margin-right: 5%;
}*/

kbd {
	padding: 0;
}

.top-bar, .top-bar ul {
	background-color: #1F1F1F;
}

li span {
	color: #797979;
}

#social {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	line-height: 2em;
}

#social ul {
	margin-left: 0em;
}

#social li {
	display: inline;
}

#title {
	text-align: center;
	padding-bottom: 0rem;
}

#intro p {
	margin-bottom: 0rem;
}

.troggle {
	display: inherit !important;
}

.toggle {
	display: none;
}

.expanded {
	display: inherit !important;
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

table {
  background: whitesmoke;
  margin-bottom: 1.25rem;
  border: solid 1px #dddddd; }
  table thead,
  table tfoot {
    background: #78797A !important; }
    table thead tr th,
    table thead tr td,
    table tfoot tr th,
    table tfoot tr td {
      padding: 0.5rem 0.625rem 0.625rem;
      font-size: 0.875rem;
      font-weight: bold;
      color: #222222;
      text-align: left; }
  table tr th,
  table tr td {
    padding: 0.5625rem 0.625rem;
    font-size: 0.875rem;
    color: #222222; }
  table tr.even, table tr.alt, table tr:nth-of-type(even) {
    background: #6F727A; }
  table tr:nth-of-type(even) td {
  	color: #C3C3C7; }
  table thead tr th,
  table tfoot tr th,
  table tbody tr td,
  table tr td,
  table tfoot tr td {
    display: table-cell;
    line-height: 1.125rem; }
  /* table tbody tr:hover {
   	background-color: #2D2D2E;
   }
   table tbody tr:hover td {
   	color: white;
   }*/

/* media queries */
@media screen and (min-width: 40em) {
	.item {
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (min-width: 64em) {
	.item {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}